  <section class="TodoSection">
    <h2 class="TodoSection-title">
      <p class="TodoSection-title-text"><%= section_title %></p>
      <p class="TodoSection-title-remcount"><%= todos.completed.count %> /<%= todos.count %></p>
    </h2>
    <ul class="TodoList">
      <% todos.each do |todo| %>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <%= form_with(url: "/todos/#{ todo.id}", method: "PUT") do %>
              <input 
                type="checkbox" 
                name="completed" 
                class="TodoItem-checkbox" <%= todo.completed ? 'checked' : nil %> 
                onclick="this.form.submit()"
              />
            <% end %>
            <span class="<%= todo.completed ? 'line-through' : nil %>">
              <%= todo.todo_text %>
            </span>
            <% if show_due_date %>
              <p class="TodoItem-duedate"><%= todo.due_date.strftime("%d %b") %></p>
            <% end %>
            <img src="./delete.png" class="TodoItem-delete" alt="Delete" width="18">
          </label>
        </li>
      <% end %>
    </ul>
  </section>