
<h1 class="TodoPage-title">My TODO List</h1>
<article>
  <%= form_with(url: "/todos", method: "POST", class:"AddTodo") do |f| %>
    <%= f.text_field 'todo_text', class:"AddTodo-text", placeholder: "What's next?" %>
    <%= f.date_field 'due_date', class:"AddTodo-date" %>
    <input class="AddTodo-button" type="submit" value="Add" />
  <% end %>

  <%= render partial: 'todo-section', locals: { section_title: "Overdue", todos: @todos.overdue.incomplete, show_due_date: true } %>
  <%= render partial: 'todo-section', locals: { section_title: "Due Today", todos: @todos.due_today, show_due_date: false } %>
  <%= render partial: 'todo-section', locals: { section_title: "Due Later", todos: @todos.due_later, show_due_date: false } %>
</article>